.telephone {

    /*
     * intentionally empty placeholder
     */
}

.telephone.icon {

    background-image: url(telephone.png);
    background-repeat: no-repeat;
    background-position: 0 center;
    padding: 0 0 0 18px;
}